
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: #fafafa;
    overflow-x: hidden;
}

input {
    height: 46px;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    font-style: italic;
    font-size: 16px;
    font-weight: 100;
    color: #D1D1D1;
    padding: 0 20px 0 20px;
}

input:focus {
    color: black;
    font-style: normal;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EC362D;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
}

header h1 { 
    color: #FFFFFF;
    font-weight: 700;
    font-size: 38px;
    padding: 13px 0 13px 0;
}

/* TELA 1 */

.container-tela-1 {
    width: 1051px;
    margin: 0 auto;
}

.empty-user-quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.empty-user-quizzes span {
    text-align: center;
    color: #B9B9B9;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}

.empty-user-quizzes button {
    color: #EC362D;
    font-size: 21px;
    background-color: #FAFAFA;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.title-user-quizzes {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 13px;
}

.title-user-quizzes ion-icon {
    font-size: 31px;
    color: #EC362D;
    margin-left: 17px;
}

.quizzes {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.quizz-figure {
    position: relative;
    width: 340px;
    height: 181px;
    margin: 0 10px 15px 0;
    transition: all 500ms ease-in-out;
}

.quizz-image {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quizz-figure h4 {
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin: 10px 20px;
    width: 300px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: 400;
    word-wrap: break-word;
}

.all-quizzes {
    margin-top: 50px;
    width: 100%;
}

.all-quizzes h3 {
    margin-bottom: 12px;
}

.gradient {
    position: absolute;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 63.54%, #000000 100%);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    opacity: 0.9;
}

/* TELA 2 */

.quizz-banner {
    width: 100%;
    height: 227px;
    margin-top: 69px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz-banner img {
    width: 100%;
    height: 227px;
    object-fit: cover;
    position: absolute;
}

.gradient-banner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.quizz-banner h2 {
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    word-break: break-all;
}

.container-tela-2 {
    width: 759px;
    margin: 0 auto;
}

.question {
    margin-top: 25px;
    margin-bottom: 44px;
    width: 759px;
    height: auto;
    padding: 28px 34px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.05)
}

.question-title {
    padding: 0 10px;
    width: 100%;
    height: 138px;
    /* background-color: #434CA0; Usuário que escolhe a cor */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.question-title h5, .quizz-results h5 {
    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    word-break: break-all;
}

.answers {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* ou space-around */
    flex-wrap: wrap;
}

.answer-item {
    width: 330px;
    height: auto;
    display: block;
    margin: 0;
    margin-bottom: 40px;
    border-radius: 0;
    position: initial;
}

.answer-item img {
    width: 330px;
    aspect-ratio: 1;
    /* height: 175px; */
    object-fit: contain;
}

.answer-text {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    word-break: break-word;
}

.quizz-results {
    margin-bottom: 58px;
    width: 759px;
    height: auto;
    padding: 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.05)
}

.results-title {
    width: 100%;
    height: 100px;
    padding: 0 15px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.level {
    margin-top: 18px;
    display: flex;
}

.level img {
    width: 364px;
    /* height: 273px; */
    aspect-ratio: 12/9;
    margin-right: 21px;
    object-fit: contain;
}

.level p {
    text-align: left;
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
    color: #484848;
    word-break: break-word; 
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-restart {
    width: 260px;
    height: 52px;
    margin-bottom: 20px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-home {
    height: 44px;
    font-size: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #818181;
    background-color: #fafafa;
}

.empty-user-quizzes button:hover, .title-user-quizzes ion-icon:hover, .quizzes figure:hover, .button-home:hover, .button-restart:hover, .answer-item:hover {
    cursor: pointer;
}

.quizzes figure:hover {
    opacity: 0.7;
    transition: all 500ms ease-in-out;
}

/* TELA 3 */

.spacing {
    margin-top: 106px;
}

.infoQuizz, .levelQuizz, .questionsQuizz, .successQuizz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoQuizz input {
    margin-bottom: 9px;
}

.infoAnswers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    height: auto;
    padding: 21px 16px 20px 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    margin: 26px 0 80px 0;
}

.infoQuizz button{
    background-color: #EC362D;
    max-width: 368px;
    width: 100%;
    height: 54px;
    border-radius: 15px;
    color: #ffff;
    font-size: 16px;
    border: none;
}

.questionsQuizz li, .levelQuizz li{
    background-color: #ffff;
    width: 60%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 21px 16px 20px 16px;
    margin-top: 26px;
}

.container-questoes, .container-niveis{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.awnsersQuizz, .levelAnswersQuizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.questionsQuizz input {
    margin-bottom: 10px;
}

.answersQuizz h3 {
    margin: 24px 0 12px 0;
}

.dividerAnswers {
    margin-top: 22px;
 }

.questionNumber {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.answersQuizz input:nth-child(1), .levelAnswersQuizz input:nth-child(1)  {
    margin-top: 12px;
 }

.questionsQuizz button, .levelQuizz button{
    margin: 40px 0 40px 0;
    background-color: #EC362D;
    max-width: 368px;
    width: 100%;
    height: 54px;
    border-radius: 15px;
    color: #ffff;
    font-size: 16px;
    border: none;
    transition-duration: 0.4s;
 }

.levelQuizz input {
    margin-bottom: 12px;
}

.levelQuizz button {
    max-width: 323px;
    width: 20%;
    transition-duration: 0.4s;
}

.questionNumber img:hover {
    background-color: rgb(228, 123, 116);
    border-radius: 2px;
}

.successQuizz figure {
    height: auto;
    width:  700px;
    margin: 50px;
    border-radius: 8px;
    position: relative;
}

.successQuizz img {
    width: 100%;
}

.successQuizz h4 {
    position: absolute;
    left:  20px;
    bottom: 40px;
    z-index: 2;
    font-size: 20px;
    color: #ffff;
}

.successQuizz p:hover {
    color: black;
}

.successQuizz p {
    color: #818181;
}

.successQuizz button {
    max-width: 335px;
    width: 30%;
    margin: 40px 0 40px 0;
    background-color: #EC362D;
    height: 54px;
    border-radius: 15px;
    color: #ffff;
    font-size: 20px;
    border: none;
    transition-duration: 0.4s;
}

.quizCreation button:hover{
    background-color: rgb(248, 95, 95);
}

.quizCreation button:active{
    transform: translateY(2px);
}

.hidden {
    display: none;
}

@media (max-width: 1100px) {

    header h1 {
        font-size: 37px;
    }

    /* TELA 1 */
    .container-tela-1 {
        width: 100%;
        padding: 0 18px;
    }

    .quizzes {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .quizz-figure, .quizz-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        padding: 0;
    }

    .gradient {
        width: 100%;
    }
    
    .quizz-figure h4 {
        width: 100%;
        padding-right: 10%;
    }

    .title-user-quizzes {
        justify-content: space-between;
    }

    /* TELA 2 */
    .container-tela-2 {
        width: 100%;
        margin: 0;
    }

    .quizz-banner h2 {
        font-size: 23px;
        line-height: 27px;
        text-align: center;
        margin: 0 10px;
    }

    .quizz-banner, .quizz-banner img {
        height: 142px;
    }

    .question, .quizz-results {
        width: 100%;
        height: auto;
        padding: 18px;
    }
    
    .question-title {
        height: 89px;
    }

    .question-title h5, .results-title h5 {
        font-size: 19px;
    }

    .answers {
        height: auto;
    }

    .answer-item {
        width: 47%;
        height: auto;
        margin-bottom: 0;
    }

    .answer-item img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        /* height: 200px; */
        /* object-fit: cover; */
    }

    .answer-text {
        width: 100%;
        margin: 5px 0 10px 0;
        font-size: 19px;
        word-wrap: break-word;
    }

    .quizz-results {
        margin-bottom: 34px;
    }

    .results-title {
        padding: 0 10px;
    }

    .level {
        flex-direction: column;
    }

    .level img {
        width: 100%;
        /* height: 300px; */
        margin-bottom: 15px;
    }

    .level p {
        font-size: 17px;
    }

    .button-restart {
        width: 220px;
    }

    .button-home {
        font-size: 19px;
    }

    /* TELA 3 */ 
    .infoAnswers {
        width: 100%;
    }

    .infoQuizz button{
        width: 80%;
    }

    .questionsQuizz li, .levelQuizz li {
        max-width: 100%;
        width: 100%;
    }

    .answersQuizz{
        width: 100%;
    }

    .questionsQuizz button, .levelQuizz button, .successQuizz button {
        width: 90%;
    }
    
    .successQuizz figure {
        width: 84%;
    }

    .descricao {
        height: 177px;
        justify-content: flex-start;
    }
}